.spacer {
	height: 100vh;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.layer1 {
	/* background-image: url("../public/gradient.svg"); */
	background: rgb(63, 94, 251);
	background: radial-gradient(
		circle,
		#e3ffe7 0%,
		#d9e7ff 100%
	);
	
}
